*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* grod rows and colums */
.grid-container{
    border: 1px solid black;
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    /* gap: 20px 20px; */
    /* row-gap: 20px;
    column-gap: 20px; */
}
.grid-container>div{
    /* height: 100px; */
    /* width: 100px; */
    border: 1px solid black;
}