* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    transition: 1s;
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}  */

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    transition: 1s;
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

.box::before {
    border-radius: 50px 50px 0 0;
    top: -50px;
    left: 0;
}

.box::after {
    border-radius: 50px 50px 50px 0;
    top: 0;
    left: 50px;
}

@keyframes animation {
    /* from{
        transform: scale(1);
        background-color: red;
    }
    to{
        transform: scale(1.5);
        background-color: rgb(201, 17, 17);
    } */

    0% {
        transform: scale(1) rotate(-45deg);
    }

    15% {
        transform: scale(1.5) rotate(-45deg);
    }

    35% {
        transform: scale(1) rotate(-45deg);
    }

    55% {
        transform: scale(1.5) rotate(-45deg);
    }

    100% {
        transform: scale(1) rotate(-45deg);
    }
}