@media (max-width:1250px) {

    .section4>.container,
    .section5>.container {
        flex-direction: column;
    }
}

@media (max-width:1150px) {

    header>nav>.nav-container {
        flex-direction: column;
    }

    header>nav>.nav-container>.left,
    header>nav>.nav-container>.right {
        padding: 10px 0;
    }

}

@media (max-width:1000px) {

    main>.section1>.container>.right>img,
    main>.section6>.container>.right>img,
    main>.section7>.container>.left>img,
    main>.section8>.container>.right>img {
        width: 40em;
        height: 30em;
        /* height: 500px; */
        border-radius: 1rem;
    }

    main>.section7>.container {
        flex-direction: column-reverse !important;
    }

    .section1>.container>.left>.text-container,
    .section6>.container>.left>.text-container,
    .section7>.container>.right>.text-container,
    .section8>.container>.left>.text-container {
        align-items: center;
    }

    main>.section1>.container,
    main>.section6>.container,
    main>.section7>.container,
    main>.section8>.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    main>.section9>.container {
        padding: 20px 30px;
        width: 100%;
    }

    main>.section9>.container>.logos {
        width: inherit;
    }

    .section9>.container>.logos>img {
        width: 6em;
    }
}

@media (max-width:650px) {
    main>.section9>.container {
        flex-direction: column-reverse;
        padding: 2em 2em;
        width: 100%;
    }

    main>.section9>.container>.logos {
        width: inherit;
        flex-direction: column;
    }

    .section9>.container>.logos>img {
        width: 10em;
    }
}

@media (max-width:825px) {
    header>nav>.nav-container>.left>ul {
        flex-direction: column;
        align-items: center;
    }

    main>.section1>.container>.right>img,
    main>.section6>.container>.right>img,
    main>.section7>.container>.left>img,
    main>.section8>.container>.right>img {
        width: 30em;
        height: 20em;
        /* height: 500px; */
        border-radius: 1rem;
    }

    .section3>.container {
        width: 100%;
        background-color: #264FF5;
        color: white;
    }

    main>.section3>.container>h1 {
        padding: 1rem;
        font-size: 3rem;
    }

    main>.section3>.container>p {
        font-size: 1.2rem;
    }

    main>.section5>.container,
    main>.section4>.container {
        padding: 20px;
    }

    main>.section4>.container>.right,
    main>.section5>.container>.right,
    main>.section4>.container>.left,
    main>.section5>.container>.left {
        border-radius: 30px;
        padding: 2rem;
        width: 100% !important;
    }

    main>.section5>.container>.left>#name,
    main>.section4>.container>.left>#name,
    main>.section5>.container>.right>#name,
    main>.section4>.container>.right>#name {
        padding: 10px 0px;
        font-size: 2.5rem;
        text-align: center;
    }

    main>.section5>.container>.left>h3,
    main>.section4>.container>.left>h3 {
        font-size: 1.3em;
        text-align: center;
    }

    main>.section5>.container>.left>#price,
    main>.section4>.container>.left>#price {
        padding: 10px 0px;
        font-size: 2.5rem;
        text-align: center;
    }
}

@media (max-width:500px) {

    main>.section2>.container>.form-control,
    main>.section2-6>.container>.form-control,
    main>.section11>.container>.form-control {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    main>.section1>.container>.right>img,
    main>.section6>.container>.right>img,
    main>.section7>.container>.left>img,
    main>.section8>.container>.right>img {
        width: 20em;
        height: 15em;
        /* height: 500px; */
        border-radius: 1rem;
    }
    main>.section10>.container>.text{
        text-align: center;
        font-size: 1.2rem;
        width: 50%;
        height: 50%;
        color: white;
    }
}