*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300vh;
    width: 100vw;
}
nav{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: inherit;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid black; */
}
nav>.left{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 1.1rem;
}
nav>.left>ul{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.logo>img{
    width: 30px;
    margin: 0 10px 0px 0px;
    height: 18px;
}
nav>.right{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav>.right>button{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #0099ff;
    /* width: 180px; */
    padding: 0rem 1.2rem;
    height: 40px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: white;
}